.footer-body {
  margin-top: 60px;

  .img-footer-left {
    width: 40%;
    position: absolute;
    bottom: 0;
  }

  .img-footer-right {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
