.card-search {
  background-color: #ffffff;
  width: 90%;
  margin-inline: auto;
  margin-top: -40px;
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.content-asset-list {
  width: 95%;

  a {
    color: inherit;
  }

  .card {
    border-radius: 15px;
    padding: 15px;

    .asset-title {
      font-weight: bold;
      font-size: 14px;
      font-weight: 700;
      color: black;
    }

    .asset-value {
      font-size: 12px;
      font-weight: 400;
    }

    table {
      td {
        padding: 5px;
      }

      .btn {
        font-size: 12px;
      }
    }
  }

  .tabs-title {
    font-size: 14px;
    font-weight: 400;
  }

  .form-control:disabled {
    background-color: #fcfcfc;
  }

  .form-select:disabled {
    background-color: #fcfcfc;
  }
}

.offcanvas.offcanvas-bottom {
  height: auto;
}
