.card-info {
  background-color: #006cb8;
  width: 90%;
  margin-inline: auto;
  margin-top: -60px;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
  }

  .info-name {
    color: #fff;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 400;
  }

  .total-assets {
    color: #fff;
    font-size: 20px;
    line-height: 1.4em;
    font-weight: 300;
  }

  .info-assets {
    color: #fff;
    font-size: 22px;
    line-height: 1.4em;
    font-weight: 700;
  }
}

.content-menu {
  width: 95%;
  margin-bottom: 120px;

  a {
    color: inherit;

    .card {
      border-radius: 20px;
      padding: 15px;
      margin-bottom: 0;
      height: 100%;

      img.image-content-menu {
        width: 80%;
      }

      .title-card-menu {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
      }
    }
  }
}
