body {
  background-color: #fff000;
  background-image: url("../../images/bg-pattern.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title-primary {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.title-secondary {
  padding-left: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #898989;
}

.content-container {
  position: relative;
  max-width: 450px;
  background-color: white;
  min-height: 100vh;
  margin-inline: auto;
  box-shadow: 1px 0 30px 0 #00000010;
}

.hero-banner {
  background-position: center;
  background-size: cover;
  height: 225px;
  overflow: hidden;

  .title-hero {
    color: #fff;
    font-size: 30px;
    line-height: 1.4em;
    font-weight: 700;
    margin-top: 80px;
  }
}

.button-scanner {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 80px;
  right: 25px;
  border-radius: 200px;
  background-color: #007ec4;
  box-shadow: 0px 2px 20px 1px #00000040;
}

.card {
  border-radius: 20px;
  margin-bottom: 15px;

  .title-card {
    font-size: 14px;
    font-weight: 700;
  }

  .link-detail {
    font-size: 10px;
    font-weight: 400;
  }

  .text-card {
    font-size: 12px;
    font-weight: 400;
  }

  .heading-card {
    font-size: 18px;
    font-weight: 700;
  }

  .time {
    font-size: 8px;
    font-weight: 400;
  }
}

.card-secondary {
  padding: 10px;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.card-dashboard {
  box-shadow: none;
  border: solid 0.5px #b6b6b6;
}

.breadcrumb {
  padding-block: 5px;

  .breadcrumb-item {
    font-size: 11px;
  }
}

form {
  .form-label {
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
  }

  .form-select {
    font-size: 14px;
  }
}

.image-grayscale {
  filter: grayscale(1);
}

.riwayat-border-column {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: solid 0.5px #e4e4e4;
}

.card-history {
  background-color: #f5f5f5;
  border-radius: 8px !important;
}

.history-detail {
  font-size: 12px;
}
